@model CreateProductDto
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h1>Yeni İlan Ekleme</h1>
                <form method="post">
                    <label>İlan Başlığı</label>
                    <input type="text" asp-for="title" class="form-control" />
                    <br />
                    <label>Fiyat</label>
                    <input  asp-for="price" class="form-control" />
                    <br />
                    <label>Tür</label>
                    <input type="text" asp-for="type" class="form-control" />
                    <br />
                    <label>Fotoğrafı</label>
                    <input type="text" asp-for="coverImage" class="form-control" />
                    <br />
                    <label>İl</label>
                    <input type="text" asp-for="city" class="form-control" />
                    <br />
                    <label>İlçe</label>
                    <input type="text" asp-for="district" class="form-control" />
                    <br />
                    <label>Adres</label>
                    <textarea  asp-for="address" class="form-control" ></textarea>
                    <br />
                    <label>Açıklama</label>
                    <textarea asp-for="description" class="form-control" ></textarea>
                    <br />
                    <label>Kategori</label>
                    <select asp-items="@ViewBag.v" asp-for="productCategory" class="form-control" ></select>
                    <br />
                    <label>Çalışan</label>
                    <input type="text" asp-for="employeeId" class="form-control" />
                    <br />
                    <button class="btn btn-success">İlanı Kaydet</button>
                </form>

            </div>
        </div>
    </div>
</div>

