
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayoutHead")


<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">

        @await Component.InvokeAsync("_AdminSpinnerComponentPartial")


        @await Component.InvokeAsync("_AdminSidebarComponentPartial")


        <div class="content">

            @await Component.InvokeAsync("_AdminNavbarComponentPartial")


            <div class="container-fluid pt-4 px-4">

                @RenderBody()

            </div>

            @await Component.InvokeAsync("_AdminFooterComponentPartial")


        </div>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    @await Component.InvokeAsync("_AdminLayoutScriptPartial")

</body>

</html>