@model UpdatePopularLocationDto

@{
    ViewData["Title"] = "UpdatePopularLocations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h1>Popüler Lokasyon Güncelleme</h1>
                @* <img style="height:100px;width:140px;border-radius:15px;object-fit:cover" src="@ViewBag.ImageUrl" *@
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="LocationID" />
                    <label>Şehir</label>
                    <input type="text" asp-for="CityName" class="form-control" />
                    <br />
                    <div class="row">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Fotoğraf</label>
                            <img style="height:100px;width:140px;border-radius:15px;object-fit:contain" src="@ViewBag.ImageUrl" />
                        </div>
                        <div class="mb-3">
                           
                            <input class="form-control" name="ImageUrl" type="file" id="formFile">
                        </div>
                    </div>
                   
                    <br />
                    <button class="btn btn-success">Güncelle</button>
                </form>

            </div>
        </div>
    </div>
</div>

